body {
	color: black;
	background-color: WhiteSmoke;
	font-family: Helvetica, Arial, sans-serif;
	letter-spacing: .4px;
	font-size: 14px;
	color: #6E6E6E;
	padding: -5px;
	left: 0;
    top: 0;
    margin: 0px;
    padding: 0px;
    text-align: justify;
}

body:after{
    display:none;
    content: url("images/linkedin.png");
    content: url("images/github.png");
    content: url("images/twitter.png");
}

@font-face {
    font-family: 'MiniSet2';
    src: url('./font/miniset2-webfont.eot');
    src: url('./font/miniset2-webfont.eot?#iefix') format('embedded-opentype'),
         url('./font/miniset2-webfont.woff') format('woff'),
         url('./font/miniset2-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
	font: bold 30px Helvetica, Sans-Serif;
	letter-spacing: -2.5px;
	color: black;
}

h2 {
	font: bold 24px Helvetica, Sans-Serif;
	letter-spacing: -2.0px;
	color: black;
}

h3 {
	font: bold 16px Helvetica, Sans-Serif;
	letter-spacing: -1.5px;
}

h1 > a, h2 > a, h3 > a {
	color: black;
	text-decoration: none;
}

h1 > a:hover, h2 > a:hover, h3 > a:hover {
	color: #FF6600;
	text-decoration: none;
}


a {
	color: #FF6600;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: underline;
}

hr {
	width: 100%;
	height: 2px;
	margin-top: 15px;
	margin-bottom: 20px;
	border: 0px;
	background-color: #D8D8D8;
}

ol, ul {
	line-height: 25px;
}

/*--------- navtop ---------*/

#layout-navtop {
	width: 100%;
	min-width: 1010px;
	height: 85px;
	background-color: #BDBDBD;
	background-image: url('images/navtop_bg.png');
	z-index: 1;
    top: 0;
    left: 0;
    border-bottom: solid 2px;
}

#layout-navtop-inner {
	width: 1000px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

#content-navtop-logo {
	width: 450px;
	margin-top: 5px;
	float: left;
}

#content-navtop-logo a {
	color: inherit;
}

#content-navtop-logo a:hover {
	text-decoration: inherit;
}

#content-navtop-logo img {
	float: left;
	margin-right: 10px;
}

#content-navtop-logo h1 {
	margin-top: 6px;
	font-family: 'MiniSet2' , Helvetica, sans-serif;
	font-size: 34px;
	letter-spacing: 0px;
}

#content-navtop-logo h3 {
	margin-top: -30px;
	font: 18px Helvetica, Sans-Serif;
	font-family: 'MiniSet2' , Helvetica, sans-serif;
	color: #848484;
	letter-spacing: 0px;
}

#content-navtop-menu {
	float: right;
	margin-top: 50px;
}

.menu-link {
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}

.menu-link a {
	color: #585858;
	font: 20px Helvetica, Sans-Serif;
	font-family: 'MiniSet2' , Helvetica, sans-serif;
	letter-spacing: 0px;
}

.menu-link a:hover {
	color: #000000;
	text-decoration: none;
}

.linkedin {
	width: 23px;
	height: 23px;
	display: block;
	background: transparent url("images/linkedin_bw.png") center top no-repeat;
	background-size: 100% 100%;
}

.linkedin:hover {
	background-image: url("images/linkedin.png"); 
}

.github {
	width: 23px;
	height: 23px;
	display: block;
	margin-left: -20px;
	background: transparent url("images/github_bw.png") center top no-repeat;
	background-size: 100% 100%;
}

.github:hover {
	background-image: url("images/github.png"); 
}

.twitter {
	width: 23px;
	height: 23px;
	display: block;
	margin-left: -20px;
	background: transparent url("images/twitter_bw.png") center top no-repeat;
	background-size: 100% 100%;
}

.twitter:hover {
	background-image: url("images/twitter.png"); 
}


/*--------- main ---------*/

#layout-main {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

#content-main-sitetype {
	margin-left: 767px;
	margin-top: 20px;
	position: absolute;
	color: #A4A4A4;
	font-size: 12px;
}

#layout-main-page-select {
	background-color: #D8D8D8;
	width: 950px;
	height: 40px;
	margin-top: -23px;
	background-image: url('images/page-select_bg.png');
	border: solid 2px;
	border-color: #D8D8D8;
}

.content-main-article {
	min-height: 200px;
}

.content-main-article  h2 {
	font: 22px Helvetica, Sans-Serif;
	font-family: 'MiniSet2' , Helvetica, sans-serif;
	letter-spacing: 0px;
	margin-bottom: 0px;
}

.content-main-article  h3 {
	font: 16px Helvetica, Sans-Serif;
	font-family: 'MiniSet2' , Helvetica, sans-serif;
	color: #BDBDBD;
	letter-spacing: 0px;
	margin-top: -2px;
}

.content-main-article  p {
    line-height: 20px;
}

.content-main-article-image-preview  img {
    width: 150px;
    max-height: 150px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.content-main-script, .content-main-article-image {
	text-align: center;
}

#layout-main-page-link {
	float: right;
	margin-top: 8px;
}

.page-link {
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}

.page-link h3 {
	color: #BDBDBD;
	font: 18px Helvetica, Sans-Serif;
	font-family: 'MiniSet2' , Helvetica, sans-serif;
	letter-spacing: 0px;
	margin: 0px;
}

.page-link a {
	color: #6E6E6E;
	font: 18px Helvetica, Sans-Serif;
	font-family: 'MiniSet2' , Helvetica, sans-serif;
	letter-spacing: 0px;
}

.page-link a:hover {
	color: #000000;
	text-decoration: none;
}

/*--------- footer ---------*/

#layout-footer {
	width: 950px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 40px;
	color: #A4A4A4;
	text-align: left;
	font-size: 10px;
}

#layout-footer img {
	float: left;
	margin-right: 5px;
}
